#wrap {width : 700px; margin : auto}
body {background : #f2f2f2 url(../graphics/bg.jpg) repeat-x; height:100%}
html {height : 100%}
#logo img { width:80px; height : 80px}
#logo { width: 100px; height: 100px}
#main {margin-top:50px;background : #222 url(../graphics/data.jpg) repeat-x;max-height:390px; overflow : auto; padding:15px; border: 2px solid white}
#banner img { width : 300px}
#banner { height : 100px; float: right; margin-top: -100px}
#menu ul { overflow: hidden; margin-top:120px; margin-left:320px; padding-left:100px}
#menu ul li {float:left; padding-left:40px; margin-right: 35px; color: white}
#list tr {float:left;  color: gray}
#menu{ margin-left: -100px}
td{padding: 15px; width: 580px}
#footer {   position:fixed;  
    background: #222 url(../graphics/bg.jpg) repeat-x;  
    color: #fff;
    list-style: none;
    font-size: 1.2em;
    padding: 10px 20px; 
    bottom:0;
    width: 100%;
    box-sizing: border-box;
text-align: center;
clear:both;}
h1 {color:blue; font-size:20px}
b { color: navy }
